<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SnkLib.App.CookieGetter" version="2.4.4" targetFramework="net48" />
  <package id="SnkLib.App.CookieGetter.Forms" version="1.4.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net48" />
</packages>